39-Cuddleotron/json/states-definition.json
{
    "Comment": "Pet Cuddle-o-Tron - using Lambda for email.",
    "StartAt": "Timer",
    "States": {
        "Timer": {
            "Type": "Wait",
            "SecondsPath": "$.waitSeconds",
            "Next": "Email"
        },
        "Email": {
            "Type" : "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "${ email_lambda_arn }",
                "Payload": {
                    "Input.$": "$"
                }
            },
            "Next": "NextState"
        },
        "NextState": {
            "Type": "Pass",
            "End": true
        }
    }
}

